#entries {
  @media (min-width: @screen-sm-min) {
    padding-left: 45px;
  }
  position: relative;
}
.entry {
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 0;
    display: none;
  }
  h2 {
    font-style:normal;
    margin-top: 0;
    margin-bottom: @line-height-computed;
  }
  .arrow {
    margin-top: 18px;
  }
  .label {
    font-weight: bold;
    margin-bottom: 0;
    font-family: @font-family-sans-serif;
  }
  .written {
    font-size: 20px;
    line-height: 25px;
  }
  .description {
    margin-top: @line-height-computed;
  }
}
